@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-image: url(../resources/fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2100px;
  height: 95vh;
}

.header {
  display: flex;
  flex-direction: row-reverse;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: grey;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img, a{
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 0.5em solid transparent;
}

hr {
  color: white;
  border-style: dotted;
  border-width: 1px;
  margin: 0.5em;
  width: 40%;
}

h1 {
  background-color: rgb(218, 212, 204);
  padding: 0.25em;
}

button {
  margin: 0.5em;
  border: 1px solid transparent;
  border-radius: 0.3em;
  padding: 1em;
  color: white;
}

button:hover{
  opacity: 0.6;;
  text-transform: uppercase;
}

.links h1:hover{
  text-transform: lowercase;
}

.header button#morado{
  background-color: rgb(161, 29, 161);
}

.header button#rojo{
  background-color: rgb(196, 54, 54);
}

.header button#azul{
  background-color: rgb(77, 77, 168);
}

.footer button{
  opacity: 0.8;
  background-color: black;
}
